main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--company-light-grey);
  color: var(--company-dark-blue);
}

h1,
h2 {
  text-align: center;
}

p {
  padding: 50px;
}

.dog-pic {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 500px;
    border-radius: 4px;
    align-items: center;
  }

  .dog-care {
    background-color: var(--company-light-blue);
    padding-top: 50px;
  }